
* {
	outline: none;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	background-color: #000;
}

header {
	height: 100vh;
}

main {
	height: 200vh;
}

#scene {
	width: 100%;
	max-width: 100%;
}
